In [ ]:
# 1. Print numbers from 1 to 10
# Output:
# 1
# 2
# ...
# 10

for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
counter = 10
while counter > 0:
  print(counter)
  counter = counter - 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 2. Print even numbers between 1 and 20
# Output:
# 2, 4, 6, ..., 20
# 3. Print the square of numbers from 1 to 5
# Output:
# 1 4 9 16 25

for x in range(1,21):
  if x %2 == 0:
    print("Even numbers:" ,x)

for y in range(1,6):
  print("squares",y*y)

Even numbers: 2
Even numbers: 4
Even numbers: 6
Even numbers: 8
Even numbers: 10
Even numbers: 12
Even numbers: 14
Even numbers: 16
Even numbers: 18
Even numbers: 20
squares 1
squares 4
squares 9
squares 16
squares 25

In [ ]:
# 4. Print each character in the word "Python"
# Output:
# P
# y
# t
# h
# o
# n

word = "Python"
for character in word:
  print(character)

P
y
t
h
o
n

In [ ]:
# 5. Loop through this list and print names:
names = ["Alice", "Bob", "Charlie"]

for name in names:
  print(name)

Alice
Bob
Charlie

In [ ]:
# 6. Print numbers from 5 to 1
# Output:
# 5
# 4
# 3
# 2
# 1

for num in range(5,0,-1):
  print(num)

5
4
3
2
1

In [ ]:
# 7. Keep asking the user to enter a password until they type "secret"
# Output:
# Try again... until correct

password = "secret"
while True:
  password = input("Enter password: ")
  if password == "secret":
    break

Enter password: how
Enter password: egg
Enter password: secret

In [ ]:
# 8. Ask the user to enter numbers until they enter 0. Then print the sum.
# Input:
# 5
# 3
# 0
# Output:
# Total: 8

result = 0
while True:
  number = int(input("Enter number: "))
  if number == 0:
    print(result)
    break
  else:
    result = result + number

Enter number: 5
Enter number: 3
Enter number: 0
8

In [ ]:
# 9. Print all numbers from 1 to 20 that are divisible by 3
# Output:
# 3 6 9 12 15 18

for value in range(1,21):
  if value %3 == 0:
    print(value)

3
6
9
12
15
18

In [ ]:
# 10. From this list, print only the odd numbers:
numbers = [4, 7, 10, 13, 16, 19]

for num_c in numbers:
  if num_c %2 == 1:
    print(num_c)

7
13
19

In [ ]:
# 11. Count how many times "apple" appears in the list:
fruits = ["apple", "banana", "apple", "cherry", "apple"]

for fruit in set(fruits):       #set to get unique values
  print(fruit,"appears",fruits.count(fruit))

apple appears 3
cherry appears 1
banana appears 1

In [ ]:
# 12. Use a loop to reverse a string:
# Input:
# "hello"
# Output:
# "olleh"

greeting = "hello"
for character in greeting[::-1]:
  print(character)

o
l
l
e
h

In [ ]:
name = "hello"
counter = len(name)
while counter > 0:
  print(name[counter-1])
  counter = counter - 1

o
l
l
e
h

In [ ]:
# 13. Print a simple triangle of stars:
# Output:
# *
# **
# ***
# ****
# *****

star = "*"
for triangle_star in range(1,6):
  print(triangle_star * star)

*
**
***
****
*****

In [ ]:
counter = 1
while counter <= 5:
  print("*"*counter)
  counter = counter + 1

*
**
***
****
*****

In [ ]:
# 14. Use a loop to calculate the factorial of a number:
# Input:
# 5
# Output:
# 120

num = int(input("Enter a number: "))

#start with 1 because multiplying by 0 would give 0
result = 1

# loop from 1 to the number (inclusive)
for val in range(1, num + 1):
    result = result * val  # Multiply result by the current number
print( result)

Enter a number: 5
120

In [ ]:
# 15. Loop from 1 to 100 and:
# Print "Hit" if divisible by 3
# Print "Miss" if divisible by 5
# Print "Jackpot" if divisible by both

for vals in range(1,101):
  if vals %3 == 0:
    print(vals, "Hit")
  if vals %5 == 0:
    print(vals, "Miss")
  if (vals %3 == 0) and (vals %5 == 0):
    print(vals, "Jackpot")

3 Hit
5 Miss
6 Hit
9 Hit
10 Miss
12 Hit
15 Hit
15 Miss
15 Jackpot
18 Hit
20 Miss
21 Hit
24 Hit
25 Miss
27 Hit
30 Hit
30 Miss
30 Jackpot
33 Hit
35 Miss
36 Hit
39 Hit
40 Miss
42 Hit
45 Hit
45 Miss
45 Jackpot
48 Hit
50 Miss
51 Hit
54 Hit
55 Miss
57 Hit
60 Hit
60 Miss
60 Jackpot
63 Hit
65 Miss
66 Hit
69 Hit
70 Miss
72 Hit
75 Hit
75 Miss
75 Jackpot
78 Hit
80 Miss
81 Hit
84 Hit
85 Miss
87 Hit
90 Hit
90 Miss
90 Jackpot
93 Hit
95 Miss
96 Hit
99 Hit
100 Miss

In [ ]:
# 16. Ask the user how many students are in a class. Then loop to enter each student’s name and save them to a list. Finally, print the list of students.

no_of_students = int(input("How many students are in a class? "))

student_names = []
for stu in range(no_of_students):
  student = input("Enter student name: ")
  student_names.append(student)
print(student_names)

How many students are in a class? 3
Enter student name: jane
Enter student name: mercy
Enter student name: mary
['jane', 'mercy', 'mary']