In [ ]:
# 1. Create a dictionary called student with:
# Keys: "name", "age", "grade"
# Values: "Alice", 14, "B"

student = {"name":"Alice", "age":14, "grade":"B"}
print(student)

{'name': 'Alice', 'age': 14, 'grade': 'B'}

In [ ]:
# 1.1. Access and print the student's name from the dictionary.
student["name"]

'Alice'

In [ ]:
# 1.2. Change the student's grade to "A".
student["grade"] = "A"
student

{'name': 'Alice', 'age': 14, 'grade': 'A'}

In [ ]:
# 1.3. Add a new key called "school" with the value "Greenwood High".

###append
student["school"] = "Greenwood High"
student

{'name': 'Alice', 'age': 14, 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
# 1.4. Delete the "age" key from the dictionary.

###.pop
student.pop("age")

14

In [ ]:
student

{'name': 'Alice', 'grade': 'A', 'school': 'Greenwood High'}

In [ ]:
# 2. Loop through the following dictionary and print each key and value:

person = {"name": "Bob", "age": 30, "city": "Nairobi"}

for key,value in person.items():
    print(key,value)

name Bob
age 30
city Nairobi

In [ ]:
# 2.1. Loop through and print only the keys from the dictionary above.
for key in person.keys():
    print(key)

name
age
city

In [ ]:
# 2.2. Loop through and print only the values.
for value in person.values():
    print(value)

Bob
30
Nairobi

In [ ]:
# 2.3. Use .get() to retrieve the value of a key called "email" from person. If it doesnâ€™t exist, return "Not provided".

email = person.get("email","Not Provided")
email

'Not Provided'

In [ ]:
# 2.4. Check if the key "city" exists in the dictionary.

print("city" in person.keys())

True

In [ ]:
#2.5. Use .update() to add or modify multiple values:
# Update "city" to "Mombasa" and add "email": "bob@example.com"

person.update({"city": "Mombasa", "email": "bob@example.com"})
person

{'name': 'Bob', 'age': 30, 'city': 'Mombasa', 'email': 'bob@example.com'}

In [ ]:
# 3. Create a list of 3 students, each represented as a dictionary:
# Each dictionary should have keys: "name", "age", "grade"

# List of students where each student is a dictionary
students = [
    {"name": "John", "age": 14, "grade": "70"},
    {"name": "Mary", "age": 15, "grade": "80"},
    {"name": "Mercy", "age": 17, "grade": "85"}
]

# Print the list to confirm
print(students)

[{'name': 'John', 'age': 14, 'grade': '70'}, {'name': 'Mary', 'age': 15, 'grade': '80'}, {'name': 'Mercy', 'age': 17, 'grade': '85'}]

In [ ]:
# 3.1. Loop through the list and print the name and grade of each student.

for student in students:
  print("Name:", student["name"], ", Grade:", student["grade"])

Name: John , Grade: 70
Name: Mary , Grade: 80
Name: Mercy , Grade: 85

In [ ]:
# 3.2. Write a loop to calculate the average grade (assuming grades are numbers).

total_grade = 0
for student in students:
    total_grade = total_grade + int(student["grade"]) # Convert grade to integer and add to total

average_grade = total_grade / len(students)
print("Average Grade:", average_grade)

Average Grade: 78.33333333333333

In [ ]:
#4. Create a dictionary to count how many times each word appears in this list:
# Output should be:
# {"apple": 3, "banana": 2, "cherry": 1}
words = ["apple", "banana", "apple", "cherry", "banana", "apple"]

word_count = {}   #empty dictionary to store word counts

# Loop through each unique word using set() to avoid duplicates
for word in set(words):
  word_count[word] = words.count(word)    # Count how many times the word appears in the original list

print(word_count)

{'banana': 2, 'cherry': 1, 'apple': 3}

In [ ]:
# 5. Build a simple phonebook:
# Ask the user to enter names and phone numbers
# Store them in a dictionary
# Allow the user to look up numbers by name

#function to add contacts
def add_contact():
  name = input("Name: ")        #prompt user
  while True:                   #loops thru until condition met is true
    phone = input("Phone: ")
    if (len(phone) == 10 and phone.isdigit()):
      break
  with open("contactbook.txt", "a") as file:       #append to file
    file.write(name + " , " + phone + "\n")     #write to file
  print("New contact added.\n")


#function to view all contacts
def view_contacts():
  try:
    with open("contactbook.txt", "r") as file:   #open file in read mode
      contact_lines = file.read()        #reads all lines in file
      print(contact_lines)
  except FileNotFoundError:                   #to handle if file doesn't exist
    print("File does not exist")


#function to search contact by name
def search_contact():
  name_search = input("Enter name to search: ")
  name_found = False    #assume name isn't there until we find it

  try:
    with open("contactbook.txt", "r") as file:
      for line in file:           #loop through file
        if name_search in line:   #search for name
          print("Name found: ", line.lower())
          name_found = True
    if not name_found:
      print("Contact not found.\n")
  except FileNotFoundError:
    print("No contacts found.\n")


while True:
  #show options for user to select
  print("1. Add New Contact")
  print("2. View All Contacts")
  print("3. Search by Name")
  print("4. Exit")

  #ask user to pick an option 1-4
  option = input("Choose an option(1-4): ")

  #call function based on the user's option
  if option == "1":
    add_contact()
  elif option == "2":
    view_contacts()
  elif option == "3":
    search_contact()
  elif option == "4":
    print("Session completed")
    break
  else:
    ("Invalid option.\n")

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 2
Mary , 0712345678,
John , 0798765432,

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 3
Enter name to search: mary
Contact not found.

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): Mary
1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 3
Enter name to search: mary
Contact not found.

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 3
Enter name to search: Mary
Name found:  mary , 0712345678,

1. Add New Contact
2. View All Contacts
3. Search by Name
4. Exit
Choose an option(1-4): 4
Session completed