In [ ]:
# 1. Create a list of your 8 foods and store it in a variable called foods.
# pizza cake banana kales pizza chicken beef

foods = ["pizza","cake","banana","kales","pizza","chicken","beef"]

In [ ]:
# 1.1. Print the first and last item in the foods list.

foods[0]

'pizza'

In [ ]:
foods[6]

'beef'

In [ ]:
# 1.2. Replace the third item in the list with another food.

foods[3] = "burger"

In [ ]:
foods

['pizza', 'cake', 'banana', 'burger', 'pizza', 'chicken', 'beef']

In [ ]:
# 1.3. Add a new food to the end of the list using .append().

foods.append("sandwich")

In [ ]:
foods

['pizza', 'cake', 'banana', 'burger', 'pizza', 'chicken', 'beef', 'sandwich']

In [ ]:
# 1.4. Remove one food from the list using .remove().

foods.remove("cake")

In [ ]:
foods

['pizza', 'banana', 'burger', 'pizza', 'chicken', 'beef', 'sandwich']

In [ ]:
# 1.5. Use a for loop to print each item in the list on a new line.
for food in foods:
  print(food)

pizza
banana
burger
pizza
chicken
beef
sandwich

In [ ]:
# 1.6. Use a loop to print only the foods that start with the letter "a".

foods = ['pizza', 'banana', 'burger', 'pizza', 'chicken', 'beef', 'sandwich']

foods_starting_with_a = []    #create an empty list

for food in foods:
  if food.startswith("a"):
    foods_starting_with_a.append(food)    #append to empty list
    print(foods_starting_with_a)
else:
  print("No food starts with 'a'")

No food starts with 'a'

In [ ]:
# 1.7. Count how many times "pizza" appears in the list.

pizza_count = foods.count("pizza")
pizza_count

2

In [ ]:
# 1.8. Print the second to fourth items using slicing.
# Remember that slicing is getting a range of values using the square brackets and index

foods[2:5]

['banana', 'pizza', 'chicken']

In [ ]:
# 1.9. Print the list in reverse using slicing.
foods[::-1]

['sandwich', 'beef', 'chicken', 'pizza', 'banana', 'cake', 'pizza']

In [ ]:
# 2. Create a list of numbers: 5 2 9 1 7

numbers = [5,2,9,1,7]
numbers

[5, 2, 9, 1, 7]

In [ ]:
# 2.1 Use the following functions:
# sum() to calculate total
# max() to find the highest
# min() to find the smallest
print("Sum: ",(sum(numbers)))
print("Max: ",(max(numbers)))
print("Min: ",(min(numbers)))

Sum:  24
Max:  9
Min:  1

In [ ]:
# 2.2. Sort the list in ascending and descending order using .sort() and .reverse().

numbers.sort()
print(numbers)

numbers.reverse()
print(numbers)

[1, 2, 5, 7, 9]
[9, 7, 5, 2, 1]

In [ ]:
# 2.3. Use .insert() to add the number 10 at index 2.

numbers.insert(2,10)
numbers

[9, 7, 10, 5, 2, 1]

In [ ]:
# 3. Create the nested list of students below and their scores:
# then print each student's name and score using a loop.
students = [["Alice", 85], ["Bob", 78], ["Charlie", 92]]

for student in students:
  name = student[0]
  score = student[1]
  print(f"{name} scored {score}")

Alice scored 85
Bob scored 78
Charlie scored 92

In [ ]:
# 3.1. Find the student with the highest score.
highest_score = 0

for student in students:
  if student[1] > highest_score:
    highest_score = student[1]
print(highest_score)

92

In [ ]:
# 4. Write a function that asks the user to enter 5 numbers and stores them in a list.

num_list = []
counter = 5

while counter > 0:
  number = int(input("Enter number: "))
  num_list.append(number)
  counter = counter - 1

print(num_list)

Enter number: 4
Enter number: 3
Enter number: 7
Enter number: 2
Enter number: 9
[4, 3, 7, 2, 9]

In [ ]:
# 4.1. Write a function that removes all even numbers from the list provided by the user.

def remove_evens():
  list_num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
  result = []

  for num in list_num:
    if num %2 != 0:    #keeps odd numbers only
      result.append(num)
  print(result)

remove_evens()

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
# 5. Merge two lists:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

merged_list = list1 + list2
merged_list

[1, 2, 3, 4, 5, 6]

In [ ]:
# 6. Ask the user to input student names until they type "stop". Store all names in a list and print it at the end.

student_names = []

while True:
  name = input("Enter the student name or type STOP: ")
  if name == "stop":
    break
  student_names.append(name)
print(student_names)

Enter the student name or type STOP: Alice
Enter the student name or type STOP: Matthew
Enter the student name or type STOP: Mary
Enter the student name or type STOP: Angela
Enter the student name or type STOP: stop
['Alice', 'Matthew', 'Mary', 'Angela']

In [ ]:
# 6.1. From the list of names, print only those that are longer than 5 characters.

for name in student_names:
  if len(name) > 5:
    print(name)

Matthew
Angela